In [5]:
import pandas as pd
import numpy as np
import os
import mlflow
import mlflow.sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split

In [6]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep=";")

In [7]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [8]:
train, test = train_test_split(data)

In [9]:
train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1458,8.4,0.29,0.40,1.7,0.067,8.0,20.0,0.99603,3.39,0.60,10.5,5
360,8.2,0.70,0.23,2.0,0.099,14.0,81.0,0.99730,3.19,0.70,9.4,5
574,10.6,0.34,0.49,3.2,0.078,20.0,78.0,0.99920,3.19,0.70,10.0,6
1242,9.0,0.40,0.41,2.0,0.058,15.0,40.0,0.99414,3.22,0.60,12.2,6
472,12.5,0.37,0.55,2.6,0.083,25.0,68.0,0.99950,3.15,0.82,10.4,6
...,...,...,...,...,...,...,...,...,...,...,...,...
635,8.7,0.84,0.00,1.4,0.065,24.0,33.0,0.99540,3.27,0.55,9.7,5
1177,7.1,0.66,0.00,2.4,0.052,6.0,11.0,0.99318,3.35,0.66,12.7,7
1528,7.9,0.29,0.49,2.2,0.096,21.0,59.0,0.99714,3.31,0.67,10.1,6
946,10.2,0.44,0.58,4.1,0.092,11.0,24.0,0.99745,3.29,0.99,12.0,7
485,10.2,0.67,0.39,1.9,0.054,6.0,17.0,0.99760,3.17,0.47,10.0,5

In [10]:
test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
563,7.6,0.290,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.10,6
796,8.7,0.460,0.31,2.5,0.126,24.0,64.0,0.99746,3.10,0.74,9.60,5
806,8.4,0.250,0.39,2.0,0.041,4.0,10.0,0.99386,3.27,0.71,12.50,7
589,10.2,0.290,0.49,2.6,0.059,5.0,13.0,0.99760,3.05,0.74,10.50,7
1396,8.7,0.675,0.10,1.6,0.090,4.0,11.0,0.99745,3.31,0.65,9.55,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.60,6
617,11.5,0.310,0.51,2.2,0.079,14.0,28.0,0.99820,3.03,0.93,9.80,6
1210,6.8,0.650,0.02,2.1,0.078,8.0,15.0,0.99498,3.35,0.62,10.40,6
1385,8.0,0.810,0.25,3.4,0.076,34.0,85.0,0.99668,3.19,0.42,9.20,5
668,10.0,0.730,0.43,2.3,0.059,15.0,31.0,0.99660,3.15,0.57,11.00,5

In [12]:
X_train=train.drop(["quality"],axis=1)

In [13]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1458,8.4,0.29,0.40,1.7,0.067,8.0,20.0,0.99603,3.39,0.60,10.5
360,8.2,0.70,0.23,2.0,0.099,14.0,81.0,0.99730,3.19,0.70,9.4
574,10.6,0.34,0.49,3.2,0.078,20.0,78.0,0.99920,3.19,0.70,10.0
1242,9.0,0.40,0.41,2.0,0.058,15.0,40.0,0.99414,3.22,0.60,12.2
472,12.5,0.37,0.55,2.6,0.083,25.0,68.0,0.99950,3.15,0.82,10.4
...,...,...,...,...,...,...,...,...,...,...,...
635,8.7,0.84,0.00,1.4,0.065,24.0,33.0,0.99540,3.27,0.55,9.7
1177,7.1,0.66,0.00,2.4,0.052,6.0,11.0,0.99318,3.35,0.66,12.7
1528,7.9,0.29,0.49,2.2,0.096,21.0,59.0,0.99714,3.31,0.67,10.1
946,10.2,0.44,0.58,4.1,0.092,11.0,24.0,0.99745,3.29,0.99,12.0
485,10.2,0.67,0.39,1.9,0.054,6.0,17.0,0.99760,3.17,0.47,10.0

In [14]:
X_train=train.drop(["quality"],axis=1)
X_test = test.drop("quality", axis=1)

y_train=train[["quality"]]
y_test=test[["quality"]]

In [15]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1458,8.4,0.29,0.40,1.7,0.067,8.0,20.0,0.99603,3.39,0.60,10.5
360,8.2,0.70,0.23,2.0,0.099,14.0,81.0,0.99730,3.19,0.70,9.4
574,10.6,0.34,0.49,3.2,0.078,20.0,78.0,0.99920,3.19,0.70,10.0
1242,9.0,0.40,0.41,2.0,0.058,15.0,40.0,0.99414,3.22,0.60,12.2
472,12.5,0.37,0.55,2.6,0.083,25.0,68.0,0.99950,3.15,0.82,10.4
...,...,...,...,...,...,...,...,...,...,...,...
635,8.7,0.84,0.00,1.4,0.065,24.0,33.0,0.99540,3.27,0.55,9.7
1177,7.1,0.66,0.00,2.4,0.052,6.0,11.0,0.99318,3.35,0.66,12.7
1528,7.9,0.29,0.49,2.2,0.096,21.0,59.0,0.99714,3.31,0.67,10.1
946,10.2,0.44,0.58,4.1,0.092,11.0,24.0,0.99745,3.29,0.99,12.0
485,10.2,0.67,0.39,1.9,0.054,6.0,17.0,0.99760,3.17,0.47,10.0

In [16]:
y_train

      quality
1458        5
360         5
574         6
1242        6
472         6
...       ...
635         5
1177        7
1528        6
946         7
485         5

[1199 rows x 1 columns]

In [17]:
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
563,7.6,0.290,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.10
796,8.7,0.460,0.31,2.5,0.126,24.0,64.0,0.99746,3.10,0.74,9.60
806,8.4,0.250,0.39,2.0,0.041,4.0,10.0,0.99386,3.27,0.71,12.50
589,10.2,0.290,0.49,2.6,0.059,5.0,13.0,0.99760,3.05,0.74,10.50
1396,8.7,0.675,0.10,1.6,0.090,4.0,11.0,0.99745,3.31,0.65,9.55
...,...,...,...,...,...,...,...,...,...,...,...
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.60
617,11.5,0.310,0.51,2.2,0.079,14.0,28.0,0.99820,3.03,0.93,9.80
1210,6.8,0.650,0.02,2.1,0.078,8.0,15.0,0.99498,3.35,0.62,10.40
1385,8.0,0.810,0.25,3.4,0.076,34.0,85.0,0.99668,3.19,0.42,9.20
668,10.0,0.730,0.43,2.3,0.059,15.0,31.0,0.99660,3.15,0.57,11.00

In [18]:
y_test

      quality
563         6
796         5
806         7
589         7
1396        5
...       ...
1591        6
617         6
1210        6
1385        5
668         5

[400 rows x 1 columns]

In [19]:
def evaluate(y_true, y_pred):
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mean_squared_error())
    r2 = r2_score(y_true, y_pred)
    print(mae)
    print(mse)
    print(rmse)
    print(r2)
    return mae,mse,rmse,r2

In [23]:
def main():
    df = data
    train, test = train_test_split(df)

    X_train=train.drop(["quality"],axis=1)
    X_test=test.drop("quality", axis=1)

    y_train=train[["quality"]]
    y_test=test[["quality"]]

    lr = ElasticNet()
    lr.fit(X_train,y_train)
    pred=lr.predict(X_test)

    #Evaluate the Model
    mae, mse, rmse, r2 = evaluate(y_test,pred)

NameError: name 'mae' is not defined