In [1]:
import pandas as pd
import numpy as np
import os
import mlflow
import mlflow.sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, roc_auc_score
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep=";")

In [3]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
train, test = train_test_split(data)

In [5]:
train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
209,11.0,0.300,0.58,2.1,0.054,7.0,19.0,0.99800,3.31,0.88,10.5,7
964,8.5,0.470,0.27,1.9,0.058,18.0,38.0,0.99518,3.16,0.85,11.1,6
218,7.5,0.490,0.19,1.9,0.076,10.0,44.0,0.99570,3.39,0.54,9.7,5
1551,7.1,0.670,0.00,2.3,0.083,18.0,27.0,0.99768,3.44,0.54,9.4,5
1222,8.1,0.530,0.22,2.2,0.078,33.0,89.0,0.99678,3.26,0.46,9.6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
830,7.5,0.685,0.07,2.5,0.058,5.0,9.0,0.99632,3.38,0.55,10.9,4
763,9.3,0.655,0.26,2.0,0.096,5.0,35.0,0.99738,3.25,0.42,9.6,5
409,12.5,0.460,0.49,4.5,0.070,26.0,49.0,0.99810,3.05,0.57,9.6,4
300,7.5,0.530,0.06,2.6,0.086,20.0,44.0,0.99650,3.38,0.59,10.7,6
401,7.7,0.260,0.30,1.7,0.059,20.0,38.0,0.99490,3.29,0.47,10.8,6

In [6]:
test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.99430,3.58,0.52,9.9,5
1563,7.2,0.695,0.13,2.0,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
981,9.5,0.860,0.26,1.9,0.079,13.0,28.0,0.99712,3.25,0.62,10.0,5
1275,8.0,0.715,0.22,2.3,0.075,13.0,81.0,0.99688,3.24,0.54,9.5,6
995,7.7,0.600,0.06,2.0,0.079,19.0,41.0,0.99697,3.39,0.62,10.1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
710,10.6,1.025,0.43,2.8,0.080,21.0,84.0,0.99850,3.06,0.57,10.1,5
488,11.6,0.320,0.55,2.8,0.081,35.0,67.0,1.00020,3.32,0.92,10.8,7
337,7.8,0.430,0.32,2.8,0.080,29.0,58.0,0.99740,3.31,0.64,10.3,5
1145,8.2,0.200,0.43,2.5,0.076,31.0,51.0,0.99672,3.53,0.81,10.4,6
422,7.7,0.960,0.20,2.0,0.047,15.0,60.0,0.99550,3.36,0.44,10.9,5

In [7]:
X_train=train.drop(["quality"],axis=1)

In [8]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
209,11.0,0.300,0.58,2.1,0.054,7.0,19.0,0.99800,3.31,0.88,10.5
964,8.5,0.470,0.27,1.9,0.058,18.0,38.0,0.99518,3.16,0.85,11.1
218,7.5,0.490,0.19,1.9,0.076,10.0,44.0,0.99570,3.39,0.54,9.7
1551,7.1,0.670,0.00,2.3,0.083,18.0,27.0,0.99768,3.44,0.54,9.4
1222,8.1,0.530,0.22,2.2,0.078,33.0,89.0,0.99678,3.26,0.46,9.6
...,...,...,...,...,...,...,...,...,...,...,...
830,7.5,0.685,0.07,2.5,0.058,5.0,9.0,0.99632,3.38,0.55,10.9
763,9.3,0.655,0.26,2.0,0.096,5.0,35.0,0.99738,3.25,0.42,9.6
409,12.5,0.460,0.49,4.5,0.070,26.0,49.0,0.99810,3.05,0.57,9.6
300,7.5,0.530,0.06,2.6,0.086,20.0,44.0,0.99650,3.38,0.59,10.7
401,7.7,0.260,0.30,1.7,0.059,20.0,38.0,0.99490,3.29,0.47,10.8

In [9]:
X_train=train.drop(["quality"],axis=1)
X_test = test.drop("quality", axis=1)

y_train=train[["quality"]]
y_test=test[["quality"]]

In [10]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
209,11.0,0.300,0.58,2.1,0.054,7.0,19.0,0.99800,3.31,0.88,10.5
964,8.5,0.470,0.27,1.9,0.058,18.0,38.0,0.99518,3.16,0.85,11.1
218,7.5,0.490,0.19,1.9,0.076,10.0,44.0,0.99570,3.39,0.54,9.7
1551,7.1,0.670,0.00,2.3,0.083,18.0,27.0,0.99768,3.44,0.54,9.4
1222,8.1,0.530,0.22,2.2,0.078,33.0,89.0,0.99678,3.26,0.46,9.6
...,...,...,...,...,...,...,...,...,...,...,...
830,7.5,0.685,0.07,2.5,0.058,5.0,9.0,0.99632,3.38,0.55,10.9
763,9.3,0.655,0.26,2.0,0.096,5.0,35.0,0.99738,3.25,0.42,9.6
409,12.5,0.460,0.49,4.5,0.070,26.0,49.0,0.99810,3.05,0.57,9.6
300,7.5,0.530,0.06,2.6,0.086,20.0,44.0,0.99650,3.38,0.59,10.7
401,7.7,0.260,0.30,1.7,0.059,20.0,38.0,0.99490,3.29,0.47,10.8

In [11]:
y_train

      quality
209         7
964         6
218         5
1551        5
1222        6
...       ...
830         4
763         5
409         4
300         6
401         6

[1199 rows x 1 columns]

In [12]:
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.99430,3.58,0.52,9.9
1563,7.2,0.695,0.13,2.0,0.076,12.0,20.0,0.99546,3.29,0.54,10.1
981,9.5,0.860,0.26,1.9,0.079,13.0,28.0,0.99712,3.25,0.62,10.0
1275,8.0,0.715,0.22,2.3,0.075,13.0,81.0,0.99688,3.24,0.54,9.5
995,7.7,0.600,0.06,2.0,0.079,19.0,41.0,0.99697,3.39,0.62,10.1
...,...,...,...,...,...,...,...,...,...,...,...
710,10.6,1.025,0.43,2.8,0.080,21.0,84.0,0.99850,3.06,0.57,10.1
488,11.6,0.320,0.55,2.8,0.081,35.0,67.0,1.00020,3.32,0.92,10.8
337,7.8,0.430,0.32,2.8,0.080,29.0,58.0,0.99740,3.31,0.64,10.3
1145,8.2,0.200,0.43,2.5,0.076,31.0,51.0,0.99672,3.53,0.81,10.4
422,7.7,0.960,0.20,2.0,0.047,15.0,60.0,0.99550,3.36,0.44,10.9

In [13]:
y_test

      quality
12          5
1563        5
981         5
1275        6
995         6
...       ...
710         5
488         7
337         5
1145        6
422         5

[400 rows x 1 columns]

In [14]:
def evaluate(y_true, y_pred):
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mean_squared_error())
    r2 = r2_score(y_true, y_pred)
    print(mae)
    print(mse)
    print(rmse)
    print(r2)
    return mae,mse,rmse,r2

In [26]:
def main():
    df = data
    # print(data)
    train, test = train_test_split(df)

    X_train=train.drop(["quality"],axis=1)
    X_test=test.drop("quality", axis=1)

    y_train=train[["quality"]]
    y_test=test[["quality"]]

    # lr = ElasticNet()
    # lr.fit(X_train,y_train)
    # pred=lr.predict(X_test)

    #Evaluate the Model
    # mae, mse, rmse, r2 = evaluate(y_test,pred)


    rf=RandomForestClassifier()
    rf.fit(X_train,y_train)
    pred = rf.predict(X_test)
    pred_prob = rf.predict_proba(X_test)
    # print(f"Predict Only {pred}")
    # print(f"Predict Probability {pred_prob}")
    print(roc_auc_score(y_test,pred_prob, multi_class="ovr"))

In [27]:
main()

e:\Education\Bismillah\Mlflow\env\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.8171837450217828